@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary: #4267B2;
    --secondary: #e2e3f8;
    --middle-light: #F9F8FF;
    --middle: #ABA9BB;
    --middle-dark: #777586;
    --danger: #BD002E;
    --alert: #FD4F5C;
    --light: #FFFADE;
    --black: #212121;
}

body {
    font-family: 'Mali', cursive;
    color: var(--black);
    background-color: var(--secondary);
    padding: 0;
    margin: 0;
}

.nav-bar {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 30px;
    padding: 0 1em;
    font-weight: 700;
    background: var(--primary);
    margin-bottom: 1em;
}

.logo {
    font-family: 'Lobster', cursive;
    color: var(--middle-light);

}
.container {
    display: grid;
    max-width: 600px;
    min-width: 300px;
    margin: auto;
    
}

.blog-form {
    margin: auto;
    border-bottom: 1px solid var(--secondary);
    padding: 1em;
}

.user-inputs {
    border-radius: 5px;
    border: 1px solid var(--primary);
}

label {
    color: var(--middle-dark);
    
}

#title-input,
#body-input {
    padding: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.25rem;
    font-family: inherit;
    background-color: var(--middle-light);
}

button {
    width: 100%;
    margin: 1em auto;
    padding: 0.75em 1.5em;
    background-color: var(--primary);
    color: var(--middle-light);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: inherit;
}

.card {
    padding: 0.5em 1em 1em;
    margin: 0.75em 1em;
    border-bottom: 1px solid var(--secondary);
    border-radius: 15px;
    background-color: var(--middle-light);
}

.post-title {
    text-transform: capitalize;
    line-height: 1.25rem;
    color: var(--primary);
}

.post-body {
    line-height: 1.2rem;
    color: var(--middle-dark);
}